html 
    head 
        title Messanger App
        link(rel = "icon", type = "image/png", href = "../messengerapplogo.png")
        link(rel = "stylesheet", type = "text/css", href = "../static/css/app.css")
    body(white-space = "nowrap")
        div(class = "container")
            span(class="box")
                div
                    image(id="applogotext", src = "../static/branding/messengerapplogotext.png", alt = "Messanger App Logo", width=480, height=80)
                    div(class = "credentials-block")
                        div(id = "welcome") Welcome, #{username}.
                            form(action = "/logout" method = "GET")
                                button(type = "Submit") LOG OUT
                            form(action="/drop_user", method="POST")
                                input(type="hidden", name="username", value=username)
                                button(type="submit", onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');") Delete Account
                            form(action = "/edit_username" method = "GET")
                                button(type = "Submit") Change Username    
                            form(action = "/edit_password" method = "GET")
                                button(type = "Submit") Change Password   
                h1#groups-container Groups
                    div
                    script.
                        const groups = !{JSON.stringify(groups)};
                        async function showGroups() {
                            console.log("ShowGroups:")
                            //TODO all of this should go in grouplist.js!!!!!
                            try {
                                const container = document.getElementById('groups-container');
                                groups.forEach(group => {
                                    console.log(`group ${group.name} members: ${group.members}`);
                                    // Create a div for each group
                                    const groupDiv = document.createElement('div');
                                    //TODO this button should do something
                                    groupDiv.innerHTML = `
                                        <button>${group.name}</button>
                                    `;
                                    container.appendChild(groupDiv);
                                });
                            } catch (error) {
                                console.error('Error loading groups:', error);
                            }
                        }

                        window.onload = showGroups;
                    
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="static/js/grouplist.js")